<div class="min-vh-50 flex-column d-flex align-items-center">
    <h1>Cursos</h1>
    <div class="d-flex flex-wrap align-items-center justify-content-center pt-3" >
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
        <app-curso></app-curso>
    </div>
</div>